[submodule "data/raw/POP909-Dataset"]
	path = data/raw/POP909-Dataset
	url = https://github.com/music-x-lab/POP909-Dataset.git
[submodule "data/raw/nottingham-dataset"]
	path = data/raw/nottingham-dataset
	url = https://github.com/jukedeck/nottingham-dataset.git
[submodule "data/raw/free-midi-chords"]
	path = data/raw/free-midi-chords
	url = https://github.com/ldrolez/free-midi-chords.git
